/* Whole document: */
/* Headers */
h1 { /* Header 1 */
  font-size: 32px;
  font-weight: bolder;
  text-align: center;

}
h2 { /* Header 2 */
    font-size: 26px;
    font-weight: bolder;
}
h3 { /* Header 3 */
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}
h4,h5,h6{
  font-size: 16pt;
  font-style: italic; 
}

/* text body */

body{
  font-family: Helvetica;
  font-size: 2em;
  text-align: left;
  margin:auto;
}

figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}


.justtext{
  font-family: Helvetica;
  text-align: justify;
  margin:auto;
}

.coltext{
  font-family: Helvetica;
  text-align: center;
  margin:auto;
}

.column-left{
  display: inline-block;
  float: left;
  width: 47.5%;
  min-width: 1in;
  text-align: left;
}

.column-center{
  display: inline-block;
  width: 5%;
  min-width: 0.25in;
  text-align: center;
}

.column-right{
  display: inline-block;
  float: right;
  width: 47.5%;
  min-width: 1in;
  text-align: left;
}

/* Container */

.container {
  position: relative;
  width:100%;
  max-width:9in;
  color: black;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 30%;
  left: 0%;
}

.tagline {
    font-size: 3.5vw;
    text-align: left;
    color:  #4d4d4d;
    line-height:1;

}